@import "config";
@import "utilities";
@import "form";

$border: 2px solid rgba(0, 0, 0, 0.2);

* {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a,
button {
  transition: 0.3s all;
}
body {
  font-family: "Teko", sans-serif;
  background-color: #000;
  color: $main-font;
  color: #9f144e;

  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: $background-color;
  // font-family: arial;
  font-size: 20px;
  animation: fadein 1s;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $primary-color;
}

p {
  letter-spacing: 0.05rem;
  font-size: 1.3rem;
}

.shadow {
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.3);
}

/*Text styling  -------------------------------------------*/
h1 {
  margin: 30px 0 50px 0;
  font-size: 2rem;
}
h1,
h2,
h3 {
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.main_color{
  color: $primary-color;
}

// Navbar
#Nav {
  transition: 0.4s ease-in-out;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  height: 70px;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid grey;

  ul {
    padding: 0;
    list-style: none;
    position: relative;
    display: table;
    margin: 10px auto 0 auto;

    li {
      display: table-cell;

      a {
        padding: 10px 20px;
        display: block;
        color: white;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;

        &:hover {
          color: $primary-color;
        }
      }
    }

    .active a {
      color: $primary-color;
      border-bottom: 3px solid $primary-color;
    }
  }
}

// Landing
.landing {
  background: $background-color;
  opacity: 0.95;
  .landing_img {
    position: relative;
    background: url("../../img/computer_background_bw.jpg") no-repeat center
      center/cover;
    height: 115vh;
    opacity: 0.7;
  }

  .button_start {
    margin-top: 30px;
    background: none;
    font-size: 1rem;
    text-align: center;
    width: 220px;
    height: 60px;
    color: #fff;
    border: 2px solid white;
    border-radius: 5px;

    &:hover {
      background: rgba(255, 255, 255, 1);
      color: $primary-color;
    }

    &:active {
      background: rgba(255, 255, 255, 0.5);
    }

    .fas {
      padding-left: 5px;
    }
  }

  &-inner {
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;

    .lead {
      margin: 25px 0;
    }
  }
}

.scroller {
  /*Object som menyns scroll går mot. Förskjuten för att inte fixed menu ska vara ivägen.*/
  position: relative;
  top: -68px;
  margin: 0;
}

/*Main*/
section {
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
  z-index: 0;
}

main {
  text-align: center;
  background: white;

  .container {
    margin: 0 auto;
  }
  main p {
    text-align: center;
  }
  .right {
    margin: 0 auto;
  }

  .skills_container {
    margin-top: 100px;

    &:after {
      content: "";
      position: absolute;
      border-bottom: 100px solid white;
      border-left: 100vw solid transparent;
      top: -200px;
      left: 0;
      z-index: 1;
    }
  }

  .about {
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;

    &:after {
      content: "";
      position: relative;
      border-bottom: 100px solid $background-color;
      border-right: 100vw solid transparent;
      bottom: -30px;
      left: 0;
      z-index: 1;
    }

    .left {
      flex-basis: 50%;
      flex: 1;

      #photo_me {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin: 0 30px;
        border: $border;
      }

      p {
        margin: 0 20px;
        padding: 30px;
        color: $main-font;
      }
    }

    .right {
      display: flex;
      // flex-direction: column;
      align-items: center;
      flex-basis: 50%;
      flex: 1;
      flex-wrap: wrap;

      .skills {
        z-index: 1;
        border-radius: 5px;
        // background: $primary-color;
        background: #f8f8f8;
        margin: 20px;
        width: 125px;
        padding: 20px;
        color: #222831;
        position: relative;
        // letter-spacing: 0.1rem;
        box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.3);

        img {
          width: 75px;
        }
      }
    }
  }

  #projects {
    background-color: $background-color;
    margin-top: 100px;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
    z-index: 0;

    h1 {
      color: #fff;
      padding-top: 40px;
    }
  }

  .projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;

    .project_items {
      width: calc(33.33% - 40px);
      max-height: 350px;
      min-width: 300px;
      max-width: 350px;
      margin: 40px 20px;
      color: $main-font;
      text-align: center;
      cursor: pointer;
      overflow: hidden;
      &:hover img {
        transform: scale(1.2);
      }

      img {
        height: 100%;
        transition: 0.4s ease;
        width: 100%;
      }
      
    }

    .project_items:hover .project_info {
      /*Infotext on hover*/
      bottom: 0;
      transform: translateY(-69px);
      transition: transform 0.4s;
      height: 60px;
    }
    .project_info {
      color: #fff;
      position: relative;
      background: $dark-color;
      border-top: 2px solid #fff;
      line-height: 60px;
      transition: all 0.3s ease-in;
    }
  }
  #contact {
    &:after {
      content: "";
      position: absolute;
      border-top: 100px solid $background-color;
      border-right: 100vw solid transparent;
      top: -31px;
      left: 0;
      z-index: 1;
    }
  }
  .contact {
    padding-bottom: 100px;
    
    &:after {
      content:"";
      border-bottom: 100px solid $background-color;
      border-right: 100vw solid transparent;
    }

    h1 {
      padding-top: 140px;
    }

    .contact_section {
      padding-top: 10px;
      padding-bottom: 200px;
      p {
        margin: 30px 0;
        color: $main-font;
      }

      a {
        .fab {
          font-size: 1.75rem;
          margin: 0 10px;
        }
        &:hover {
          color: $dark-color;
        }
      }
    }
  }
}

.jumbotron {
  z-index: -1;
  opacity: 0;
  margin-top: 350px;
  animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@media screen and (max-width: 800px) {
  main {
    .skills_container {
      &:after {
        border-bottom: 50px solid white;
        top: -149px;
        border-left: 100vw solid transparent;
      }
    }
    .about {
      &:after {
        border-bottom: 50px solid $background-color;
        bottom: -30px;
      }
    }
    #contact {
      margin-top: 0;

      .contact {
        padding-bottom: 50px;
        
        &:after {
          content:"";
          border-bottom: 50px solid $background-color;
        }
      }

      &:after {
        border-top: 50px solid $background-color;
      }
    }
  }

  h1 {
    font-size: 1.75rem;
    margin: 30px 0;
  }

  .navbar {
    justify-content: center;
    padding: 20px 0;
  }
  .logo {
    display: none;
  }
  .landing-inner .lead {
    margin-bottom: 80px;
  }

  main {
    .about {
      flex-direction: column;
      .left {
        p {
          padding: 30px 10px;
        }
      }
      .right {
        // margin: 0 20px 50px 20px;
        display: flex;
        justify-content: space-around;

        .skills {
          // width: 100%;
          // padding: 0 20px;
        }
      }
    }
    .projects {
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 400px) {
  nav {
    ul {
      li {
        a {
          padding: 10px;
        }
      }
    }
  }
}

.slide-in {
  opacity: 0;
  transition: all 0.7s;
}

.align-left.slide-in {
  /*transform: translateX(-30%) scale(0.95);*/
  transform: scale(0.9);
}

.align-right.slide-in {
  /*transform: translateX(30%) scale(0.95);*/
  transform: scale(0.95);
}

.slide-in.active {
  opacity: 1;
  /*transform: translateX(0%) scale(1);*/
  transform: scale(1);
}
