/*CSS GRID'*/
body { 
	-webkit-animation:fadein 1.0s;
	animation:fadein 1.0s
}
@-webkit-keyframes fadein { 
	from {opacity:0} 
	to {opacity:1} 
}
@keyframes fadein {
	from {opacity:0} 
	to {opacity:1} 
}

:root{
	 --background: #222831;
	 --secondary-color: #00adb5;
	 --secondary-color-darker: #016d72;
	 --main-font: #eeeeee;
	 --secondary-font: #222831;
	 --menu-color: #eeeeee;
	 --menu-color-active: #00adb5;
	 --three-col: 1fr 1fr 1fr;
	 --two-col: 1fr 1fr;

}

* {
	outline: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	position: relative;
	height: 100%;
	background-color: var(--background);
	font-family: "Raleway", "arial";
	color: var(--main-font);
}
body {
	min-height: 100vh;
	padding: 0;
	margin: 0;
	background-color: var(--background);
	font-family: arial;
	font-size: 16px;
}
.shadow {
	box-shadow: 1px 5px 10px rgba(0,0,0,0.4);
}


/*Grid -------------------------------------------*/
header {
	grid-area: header;
	padding-bottom: 15px;
	border-bottom: 3px solid var(--secondary-color);
	z-index: 2;
}	
main {
	z-index: 3;
	grid-area: main;
	background-color: #222831;
	width:100%;
}
footer {
	grid-area: footer;
	width: 100%;
	display: inline-block;
	padding-top: 40px;
}
.container {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-auto-flow: dense;
	grid-template-areas: 
	"header header header header"
	"main main main main"
	"footer footer footer footer";
}

/*Text styling  -------------------------------------------*/
h1,h2,h3 {
	font-weight: 400;
    letter-spacing: 0.2em;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    margin-top: 65px;
    margin-bottom: 50px;
}
p {
	line-height: 1.5em;
}
.header_jumbotron {
	margin-top: 240px;
}
.h3_jumbotron {
	padding-bottom: 250px;
}
hr.style-one {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
.line_break {
	height: 3px;
	width: 100%;
	background: var(--secondary-color);
	border: 0;
	margin: 40px 0 70px 0;
}

/*Navbar  -------------------------------------------*/

header::before{
	content: "";
	overflow: hidden;
    position: absolute;
    width: 100%;
    height: 103.4%;
    height: 203.4%;
    z-index: -1;
    background: url("img/computer_background_bw.jpg") 0 0 repeat;
    opacity: 0.3;
    background-position: 75% 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-mask-image: radial-gradient(ellipse 90% 100% at 80% 60%, black 20%, transparent 100%);
    background-size: 125%;
}
ul {
	margin-top: 25px;
	text-align: center;
}
li {
	display: inline;
}   
.scroller{						/*Object som menyns scroll går mot. Förskjuten för att inte fixed menu ska vara ivägen.*/
	position: relative;
	top:-120px;
	margin: 0;
}
.menu {
	padding-bottom: 20px;
	z-index: 10;
	background: var(--background);
	position: fixed;
	width: 100%;
	display: grid;
	grid-template-columns: var(--two-col);
	letter-spacing: .15em;
	text-transform: uppercase;
	font-family: "Raleway";	
	border-bottom: 2px solid var(--secondary-color);
}
.menu li {
	cursor: pointer;
}
.menu li a {
	position: relative;
	margin: 0 25px 0 25px;
	text-decoration: none;
	color: var(--menu-color);  
}
.menu li:nth-of-type(1) a{
	border: none;
}
.menu li a:hover{
	color: var(--menu-color-active);
	transition: 0.15s;
}
.menu li a:hover::before{
	width: 100%;
}
.menuright a::before {
	width: 0%;
    position: absolute;
    content: "";
    top: 25px;
    border-bottom: 3px solid var(--menu-color-active);
    transition: all 0.4s ease;
}
#christoffer {
	position: relative;
	top: -5px;
	font-size: 24px;
	font-weight: 900;
}
#frontend {
	margin-left: 25px;
}
.menuright, .menuleft{
	padding: 0;
}
.menuright {
	padding-top: 5px;
}


/*Main*/
.widthMain {
	width: 80%;
	margin: 0 auto;
}
main {
	clear:both;
	margin: 0 auto;
}
main p {
	text-align: center;
}
.right{
	margin: 0 auto;
}
.about {
	display: grid;
	grid-template-columns: var(--two-col);
	text-align: center;
}
#photo_me{
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin-bottom: 20px;
}
.skills {
	z-index: 1;
	background: var(--secondary-color);
	text-align: left;
	padding: 5px;
	margin: 10px 0;
	height: 30px;
	width: 300px;
	background: var(--secondary-color-darker);
	position: relative;
}
.skills::after {
	display: block;
	position: absolute;
 	left: 110px;
 	top: 0;
	content: "";
	background: var(--secondary-color-darker);
	z-index: 4;
	width: 300px;
	height: 30px;
}
.projects {
	display: grid;
	grid-template-columns: var(--three-col);
	grid-template-rows: auto;
	grid-gap: 35px;
	align-self: center;
}
.projects img {
	width: 95%;           /*Bilden i mitten hoppar 1px om det är 100%*/
	height: 100%;
	position: relative;
}
.project_items{
	height: 300px;
	position: relative;
	color: black;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
}
.project_items:hover .project_info {     /*Infotext on hover*/
	transform: translateY(-60px);
	transition: transform 0.3s;
	height: 60px;
}
.project_info{
	color: #fff;
	position: relative;
	background: var(--secondary-color-darker);
	line-height: 60px;
	transition: all 0.3s ease-in;
}


/*Upp ikon */
.button, .button_start{
	color: var(--menu-color);
	text-decoration: none;
	width: 40px;
	letter-spacing: .15em;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 20px;
}
.button::before{
	content: "\f062	";  
	font-family:"Font Awesome 5 Free";
	font-weight: 600;
}
.button:hover, .button_start:hover{
	color: var(--menu-color-active);
	transition: 0.15s;
}
.toTop {
	position: static;
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
}
.start {
	position: static;
	font-size: 1.5em;
	padding: 0;
	margin: 0;
	margin-bottom: 40px;
	text-align: center;
}
.button_start::before{
	content: "\f063	";  
	font-family:"Font Awesome 5 Free";
	font-weight: 600;
}
.contact_section p{
	line-height: 3rem;
}
.contact_section p a{
	color: white;
}
.contact_section p a:hover{
	color: var(--secondary-color)	;
}
.contact_section{
	margin: 120px 0;
}

.fab {
	padding: 5px;
	color: #b3b3b3;
	font-size: 1.5em;
}
.icons_bottom .fab:hover {
	color: var(--menu-color-active);
}
.icons_bottom a {
	padding: 7px 2px 2px 2px;
}
#copyright {
	display: inline-block;
	font-size: 0.8em;
	text-align: center;
	margin: 20px 20px 0 0;
	line-height: 1.5em;
}
footer div{
	margin: 15px auto;
	position: static;
	text-align: center;
}



@media only screen and (max-width: 1024px){
	:root{
		--three-col: 1fr 1fr;
		--two-col: 1fr;
	}
	header:before{

	     background-size: 400%;
	}
	.right{
		margin: 0 auto;
	}
	.skills{
		width: 500px;
	}
	.skills::after {
		width: 400px;
	}
	.header_jumbotron {
	margin-top: 300px;
	}
	.h3_jumbotron {
		padding-bottom: 350px;
	}
	.menu li a:hover{
		color: var(--menu-color);
	}
	.menu li a:hover::before{
		width: 0%;
	}
}


@media only screen and (max-width: 768px){
	:root{
		 --three-col: 1fr;
		 --two-col: 1fr;
	}
	header:before{
	    height: 120%;
	    background-size: 600%;

	}
	.skills{
		width: 290px;
	}
	.skills::after {
		width: 180px;
	}
	.h3_jumbotron {
		padding-bottom: 60px;
	}
	.scroller{						/*Object som menyns scroll går mot. Förskjuten för att inte fixed menu ska vara ivägen.*/
		top:-70px;
	}	
	body {
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
		.project_info{
		margin: 0;
	}
}


@media only screen and (max-width: 430px){
	
	.about div p{
		text-align: justify;
	}
	#christoffer{
		font-size: 1rem;
		padding: 0;
		margin: 0;
	}
	.menu li a {
   		margin-left: 0;
   		margin-right: 0;
	}
	.menu {
		padding: 0;
	}
	.menuright{
		margin: 0;
	}
	#frontend {
	    margin: 0;
	}
	p, section, .projects {
		margin: 0 10px;
	}
	li {
		display: block;
		margin: 0 0 20px 0;
	}
	.header_jumbotron{
		font-size: 1.2rem;
	}
	.h3_jumbotron{
		font-size: 1rem;
	}
	.button_start {
		font-size: 16px;
	}
	.widthMain {
		width: 100%;
	}
	h1 {
		font-size: 1.5rem;
		margin-top: 70px;
   		margin-bottom: 50px;
	}
	.scroller{						/*Object som menyns scroll går mot. Förskjuten för att inte fixed menu ska vara ivägen.*/
		top:-130px;
	}	
	#photo_me {
    	width: 200px;
    	height: 200px;
	}
	.menuleft{
		display: none;
	}
	li:first-of-type{
		padding-top: 15px;
	}
	li{
		margin-bottom: 15px;
	}
}



.jumbotron {
	z-index: -1;
	opacity: 0;
	margin-top: 350px;
	animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
	100%{
		opacity: 1;
		margin-top: 0;
	}
}

