
:root {
  --dark-bg-color: #08070f; 
  --dark-blue-color: #051A2B;
  --btn-color: #ff7350;
  --btn-dark-color: #e66645;
  --light-grey: #222222;
}

.btn {
  background-color: var(--btn-color);
  border: 0;
}
.btn:focus, a:focus{
  outline: none;
}
html {
  font-size: 16px;
}

.navbar {
  width: 100%;
  border-bottom: 1px solid white;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}
.navbar-toggler{
  margin-left: 10px;
}
.navbar-dark {
  background-color: var(--dark-blue-color);
}
.navbar-nav{
  padding: 0;
  margin: 0 auto;
}
.navbar-expand-lg .navbar-nav .nav-link{
  color: white;
  padding: 1rem 1.5rem;
  font-size: 1.1rem;
}
.navbar-dark .navbar-toggler{
  border: none;
  padding: 10px;
}
li {
  list-style-type: none;
  outline: none;
}
li a:hover, .btn:hover{
  background: var(--btn-dark-color);
}
li a:active, .btn:active{
  background: var(--btn-color);
}
ul{
  margin: 0;
  padding: 0;
}
.fa {
  padding-right: 10px;
}
label {
  padding-right: 5px;
}
.jumbotron-start {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--dark-bg-color);
  height: 220px;
}
.home-background{
  background-image: url("img/background7.jpg");
}
.cyklar-background{
  background-image: url("img/background5.jpg");
}
.reparation-background{
  background-image: url("img/background4.jpg");
}
.tillbehor-background{
  background-image: url("img/background3.jpg");
}
.kontakt-background{
  background-image: url("img/background6.jpg");
}

.jumbotron .lead {
  width: 75%;
}

.location{
  overflow: hidden;
}
.card-row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-container {
  flex: 1;
  margin: 10px;
}
.card-body {
  height: 220px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #f7f7f7;
}
.card-body a{
  justify-self: flex-end;
  width: 50%;
  margin: 0 auto;
}

/* tillbehör */
.card-img-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around
}
.card-img{
  width: 300px;
  margin: 10px;
  border: 1px solid rgba(0,0,0,0.2);
}

.text-reparera{
  width: 75%;
}

.bikes{
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.bikes p{
  text-align: center;
}
.bikes img{
  margin: 10px;
}

.brands{
  margin: 60px auto 20px auto;
  display: flex;
  flex-wrap: wrap;
}
.brands img{
  width: 16.6666%;
}

.page-footer {
  margin-top: 50px;
  background-color: var(--light-grey);
  color: white;
}
.page-footer h3, .page-footer li{
  padding-left: 10px;
}
.page-footer li, .footer-copyright {
  color: #bbbbbb;
}


.footer-info{
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .container{
    max-width: 100%;
  }
  .jumbotron .lead, .text-reparera {
    width: 100%;
  }
  .jumbotron-start {
    background-size: 150%;
  }
  .navbar-nav{
    margin: 0;
  }
  .navbar .container{
    max-width: 100%;
  }
  .navbar-toggler-icon{
    width: 2rem;
    height: 2rem;
  }
  .navbar-expand-lg .navbar-nav .nav-link{
    padding: 0.5rem 1rem;
  }
}
@media screen and (max-width: 768px) {
  .container{
    max-width: 100%;
  }
  .card-row{
    flex-direction: column;
  }
  .brands img{
    width: 33.33%;
  }
}
@media screen and (max-width: 576px) {
  .container{
    max-width: 100%;
  }
  .jumbotron-start {
    height: 200px;
  }
  .footer-info{
    flex-direction: column;
  }
  .footer-info div{
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 450px) {
  .brands img{
    width: 50%;
  }
}