/*CSS GRID'*/
body { 
	-webkit-animation:fadein 1.0s;
	animation:fadein 1.0s
}
@-webkit-keyframes fadein { 
	from {opacity:0} 
	to {opacity:1} 
}
@keyframes fadein {
	from {opacity:0} 
	to {opacity:1} 
}

html {
	position: relative;
}
body {
	height: 100%;
	top: 0;
	color: #b3b3b3;
	padding: 0	;
	margin: 0 40px;
	background-color: #111;
	min-width: 500px;
	font-family: arial;
}
hr.style-one {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}	

.header {
	grid-area: header;
	height: 100px;
}	
.main {
	grid-area: main;
}
.footer {
	grid-area: footer;
}


.container {
	display: grid;
	grid-template-columns: 200px auto auto 150px;
	grid-template-rows: 100px auto 100px;
	grid-auto-flow: dense;
	grid-template-areas: 
	"header header header header"
	"main main main main"
	"footer footer footer footer";
}



/*Navbar--------------*/
ul {
	padding: 0px 20px;
	margin-top: 30px;
}
li {
	display: inline;
}   
main {
	clear:both;
}
.main p {
	text-align: center;
}

.menu {
	letter-spacing: .15em;
	cursor: pointer;
	text-transform: uppercase;
	font-family: "Raleway";
	font-size: 1rem;
}
.fas {
	color: white;
	font-weight: 100;
	color: #b3b3b3;
}
.christoffer {
	float:left;
	position: relative;
	top: -15px;
}
#christoffer {
	font-size: 1.8em;
}
#menu-portfolio {
	position: relative;
	left: 15px;
}
#upp {
	font-size: 0.8em;
}
#upp::before{
	content: "\f062	";  
	font-family:"Font Awesome 5 Free";
	font-weight: 600;
}
#upp:hover{
	color: #ffffff;
	transition: 0.15s;
}
.menu li a {
	padding-left: 25px;
	margin: 0px 15px;
	text-decoration: none;
	color: #b3b3b3;  
	font-size: 0.8rem;
	border-bottom: 1px solid #b3b3b3;
}
.menu li:nth-of-type(1) a{border:none;}

.menu  li a:hover {
	color: #ffffff;
	transition: 0.15s;
}
.menuright {
	float: right;
}
.text {
	max-width: 90%;
	margin: 0 auto;
	height: auto;
	text-align: center;
	text-align: justify;
}
.toTop {
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
}

/*Image styling ----------*/

.picture {
	display:grid;
	grid-template-columns: repeat( auto-fit, minmax(470px, 1fr) );
	grid-auto-rows: minmax(auto, auto);
	justify-items: stretch;
	grid-row-gap: 0.2em;
	grid-column-gap: 0.2em;
	align-items: stretch;
	cursor: pointer;		
}
.bild {	
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
	filter: opacity(95%) brightness(80%);
}

.picture *{
	transition: all 0.2s ease-in-out;
}
.bild:hover {	
	filter: opacity(90%) brightness(100%);
}

.button{
	color: #b3b3b3;
	text-decoration: none;
	width: 40px;
	letter-spacing: .15em;
	cursor: pointer;
	text-transform: uppercase;
	font-family: "Raleway";
	font-size: 1rem;
}
.fab {
	margin: 10px;
	color: #b3b3b3;
	font-size: 1.5em;
}
.fab:hover, .fas:hover {
	color: white;
}
#copyright {
	display: inline-block;
	font-size: 0.8em;
	text-align: center;
	margin: 10px 20px 0 0;
	line-height: 1.5em;

}
.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: inline-block;
	margin-bottom: 15px;
}
.footer div{
	margin: 0 auto;
	position: static;
	text-align: center;
}



 .align-left {
      /*float: left;*/
    }

    .align-right {
      /*float: right;*/
    }

    .slide-in {
      opacity: 0;
      transition: all .5s;
    }

    .align-left.slide-in {
      /*transform: translateX(-30%) scale(0.95);*/
      transform: scale(0.95);
    }
    
    .align-right.slide-in {
      /*transform: translateX(30%) scale(0.95);*/
      transform: scale(0.95);
    }

    .slide-in.active {
      opacity: 1;
      /*transform: translateX(0%) scale(1);*/
      transform: scale(1);
    }






@media only screen and (max-width: 1080px) {
	html{
		height: auto;
	}
	#tel-margin {
		margin-bottom: 800px;
	}
	.text {
		font-size: 0.7em;
	}
	.header li a {
		height: 300px;
		font-size: 1.2rem;
	}
	.footer p {
		font-size: 1.2rem;
	}
	#upp {
		font-size: 1.2rem;
	}
	.main p {
		font-size: 1.2rem;
	}
	.about, .contact {
		max-height: 1700px;
	}

}






/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 50px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 1000px;
	position: relative;
	top: 30px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
	animation-name: zoom;
	animation-duration: 0.6s;
}

@keyframes zoom {
	from {transform:scale(0)} 
	to {transform:scale(1)}
}

/* The Close Button */
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 768px){
	.modal-content {
		width: 100%;
	}
}








