/* Puffar filmer */

.puff-article h1 {
  margin-top: 25px;
}
.puff-article {
  margin-top: 0px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center; 
}

.puff-container {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(200px, 6fr));
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 25px;
}

.puff-front-container {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(200px, 6fr));
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 25px;
}
.card {
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.35rem;
}
.card a .card-img-top:hover{
opacity: 0.9;
}
.card-text {
 margin-top: -20px;
 color: black;
}
.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card-text:last-child {
  margin-bottom: 0;
  color: #111;
}
.card-img-top {
  width: 100%;
  border-radius: 0.25rem;
}
