
body { 									/*Fade mellan sidorna*/
	animation:fadein 1.0s
}
@keyframes fadein { 
	from {opacity:0} 
	to {opacity:1} 
}
@keyframes fadein {
	from {opacity:0} 
	to {opacity:1} 
}
							

html {
	font-size: 16px;
}
body {
	margin: 0;
	color: #eee;
	background-color: #152b38;
	font-family: arial;
}
main {
	padding-top: 150px;
	padding-bottom: 50px;
	height: auto;
	min-height: 368px;
	background: #111;
	background-color: #111;
	padding-left: 10%;
	padding-right: 10%;
}
section {
	background: #111;  		/*IE förstår inte main*/
}

/*Main textstyling color ------------------------------*/
h1{ 
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-top: 0;
}
h3{
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-top: 0;
}
body p {
	font-size: 1rem;
}

a {
	text-decoration: none;
	color: #fff;	
}


.floatRight {				/*Generall*/
	float: right;
}
.floatLeft {
	float: left;
}
.nav a {
	font-family: "Raleway";
	text-transform: uppercase;
	text-decoration: none;
	color: #d3d3d3;  
	font-size: 0.75rem;
	font-weight: 700;
	letter-spacing: 0.2em;
}
.toTop	 {
	margin-top: 10px;
	text-align: center;
}
#upp::before{
	content: "\f062	";  
	font-family:"Font Awesome 5 Free";
	font-weight: 600;
	padding-right: 5px;
}
#upp:hover{
	color: #ffffff;
	transition: 0.15s;
}


nav {								/*Navbar--------------*/
	position: fixed;
	z-index: 3;
	background-color: #152b38;
	height: 110px;
	width: 100%;
	box-shadow: -3px -3px 5px inset rgba(0,0,0,0.2);
	background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.15));
}
.navbar {
	display: inline;
	cursor: pointer;
	margin: 0;
	padding: 0;
}
.nav-left li a, .nav-right li a {
	padding: 50px 16px;
	text-align: center;
	vertical-align: middle;
	line-height: 111px; 
}
.nav-left li, .nav-right li {
	display: inline-block;
	top: 0;
	background-color: grey;
	margin-left: -4px;
	background-color: #152b38;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	box-shadow: -3px -3px 5px inset rgba(0,0,0,0.2);
	background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1));
}
.nav-right .searchField{	
	padding: 37px 5px;
}
.nav-left {
	float: left;
}
.nav-right{
	float: right;
}
.navbar li a:hover {
	color: #fff;
}
.navbar li:hover{
	transition: 0.2s;
	background-color: #203c4d;
}
.navbar li:active {
	color: #d3d3d3;
	transition: 0.1s;
	background-color: #152b38;
}
.nav-right li:nth-of-type(2):hover{						/*Ingen hover på sökrutan*/
	background-color: #152b38;
}
#logo {
	background-image: url("logo.png");
	background-size: 90%;
	background-position: center; 
	background-repeat: no-repeat; 
	padding: 42px 70px;
}
.hiddenNav li:first-of-type{
	list-style-type: none;
}
.nav-right .searchMobile {
	display: none;
}
#search {	
	padding: 14px 10px;
	border-radius: 16px;
	border: 0;
	height: 8px;
	width: 150px;
	background-color: #ecedee;
}
.searchField input:focus{
	outline: none;
}
.fas {
	font-size: 1.5em;
	padding: 0 5px;
	color: #d3d3d3;
	position: relative;
	top: 5px;
}
.fas:hover {
	color: #fff;
}
.hamburger {
	display: none;
}
.fa-swedish {
	background-image: url("brittish_flag_square.png");
	background-size: 80%;
	background-position: center; 
	background-repeat: no-repeat; 
	padding: 15px;
	position:relative;
	top: 10px;
}
.searchField {
    border-left: 3px solid rgba(0,0,0,0.2);						
}


/*Dropdown menu mobile version---------------------------------*/
.hamburger {
	outline: none;
	width: 75px;
	position: absolute;
	z-index: 1000;
	right: 0;
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {  
	background-color: #d3d3d3;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	background-color: #d3d3d3;
}
.hamburger {
	transition: 0.2s;
	background-color: transparent;
	margin-top: 5px;
}

footer{									/*Navigering footer --------------*/
	background-color: #152b38;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	box-shadow: -3px -3px 5px inset rgba(0,0,0,0.2);
	background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1));
	height: auto;
	margin: 0 auto;
}
.nav-footer{
	width: 70%;
	margin: 0 auto;
	text-align: center;
	padding: 0;
}
.nav-footer li{
	display: inline;
	text-decoration: none;
	line-height: 1em;
}
.nav-footer li a{
	padding: 0px 20px;
}
.nav-footer li {
	padding: 10px 0;
}
.nav-footer:first-of-type {
	padding-top: 25px;
}
.nav-footer li a:hover{
	color: #fff;
}
.footerLastLine{
	width: 80%;
	margin: 30px auto 0 auto;
	text-align: center;
}
.footerLastLine div p {
	padding-right: 150px;
}
.footerLastLine div, .footerLastLine div{
	display: inline-block;
	color: #b3b3b3;
}
.footerLastLine a {
	font-size: 1.7em;
	padding: 5px;
}
.footerLastLine .fab {
	color: #4d6677;
}
.footerLastLine .fab:hover {
	color: #fff;
}
.newsLetter {							/*Newsletter--------------*/
	border: solid 1px rgba(255,255,255,0.05);
	position: fixed;
	z-index: 2;
	bottom: 0;
	right: 0;
	background-color: #152b38;
	padding: 0 10px 0 10px; 
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	box-shadow: -3px -3px 5px inset rgba(0,0,0,0.2);
	background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1));
	border-radius: 10px;
	text-align: center;
}
.newsButton {
	background-color: #152b38;	
	border: solid 1px rgba(255,255,255,0.05);
	color: #fff;
	box-shadow: -1px -1px 1px inset #222;
	cursor: pointer;
	margin-left: 5px;
	padding: 3px;
	border-radius: 5px;
}
.newsButton:hover {
	background-color: #4d6676;
}
.newsButton:active {
    transform: translateY(2px);
    border:1px solid black;
    box-shadow: 2px 2px 5px inset rgba(0,0,0,0.3);
}
.upp {
	text-align: center;
	margin-top: 30px;
}

button:focus, input:focus {
	outline: 0;
}
button {
	padding: 0;
}

@media only screen and (max-width: 1240px) {			
	nav {
		height: 100px;
		position: fixed;
		width: 100%;
		top: 0;		
	}
	nav ul div{
		overflow:hidden;
		height:0;
	}
	.nav-left li:first-of-type a{
		display: none;
	}
	.hiddenNav li:first-of-type {
		list-style-type: none;
	}
	#logoMobile{							/*Mobilversion logga. Desktopversion hide -------------*/
		top: 8px;
		background-image: url("logo.png");
		background-size: 100%;
		background-position: center; 
		background-repeat: no-repeat; 
		padding: 42px 70px;
		display: block;
		position: fixed;
	}
	.nav-right .searchMobile {				/*Mobilversion sök. Desktopversion hide -------------*/
		display: block;
	}
	.nav-right .searchDesktop {
		display: none;
	}
	.nav-left li, .nav-right li  {
		display: block;
		clear:both;
		width: 100%;
		margin: -1px;
		position: static;
		top: 0;
		font-size: 1.1em;
		text-align:left;
		line-height: 45px;
		height: 45px;
	}
	.nav-right {
		position: relative;
		top: -9px;
	}
	.nav-left li a, .nav-right li a {
	    padding: 16px 200px 10px 10px;
	}
	.nav-right, .nav-left {
		float: none;
		margin: 0;
	}
	.nav-left, .nav-right {
		position:relative;
		top: 100px;
		transition:height 250ms ease-in;
	}
	.nav-left li:first-of-type {	
		height: 110px;
		line-height: 110px; 
		display: none;
	}
	.navbar li:nth-child(10) a {
		border: none;
	}
	.active div{					/*Class som läggs in med Javascript för att visa och gömma dropdown*/
		height: 307px;
		z-index: 100;
		transition:height 250ms ease-in;
	}
	.hamburger {
		display: block;
	}
	.fa-swedish {
		position: relative;
		top: 5px;
	}
	.fa-search {
		position: relative;
		top: 2px;
	}
	.navbar li a:hover {          /*Ingen hover i mobilversion-----------------*/
		color: #d3d3d3;  
	}
	.navbar li:hover{
		transition: 0s;
		background-color: #152b38;
	}
	.nav-left li:active, .nav-right li:active{
		transition: 0.1s;
		background-color: #203c4d;
	}
	.nav-left li a, .nav-right li a {
		line-height: 50px; 
	}
	.nav-footer{
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		font-size: 1.2em;
		text-align: center;
	}
	.footerLastLine div p {
		padding-right: 75px;
		text-align: center;
	}
	.footerLastLine {
		padding-bottom: 20px;
	}
	.newsLetter {        			/*Newsletter--------------*/
		position: sticky;
		border-radius: 0;
	}
	.newsLetter p {
		margin: 0;
		padding: 10px 0;
	}
}

@media only screen and (max-width: 700px) {

	.nav-footer{
		grid-template-columns: 1fr 1fr;

	}
	.footerLastLine div p {
		padding-right: 0;
	}
}







/*Bootstrapfix*/



/*
.nav {
	display: block;
}
.nav>li>a {
     position: static; 
     display: inline;    
     padding: 0;
}

main {
    margin-top: 0px;  
}
.navbar {
    position: static;
    min-height: 0px;
    margin-bottom: 0px;
    border: 0px solid transparent;   
}

.active div {
    position: relative; 
    z-index: 2;
}


.searchField {
    border-left: 3px solid rgba(0,0,0,0.2);
    padding: 42px 5px;							
}
.nav a {
	    font-size: 0.75rem;
}
*/



/*
Bootstrap problem

.nav>li>a {
     position: static; 
     display: inline;      -------
    padding: 0;
}

main {
    margin-top: 0px;  ------
}
.navbar {
    position: static;
    min-height: 0px;
    margin-bottom: 0px;
    border: 0px solid transparent;   ------
}

.active div {
    position: relative; 
    z-index: 2;


.searchField {
    border-left: 3px solid rgba(0,0,0,0.2);
    padding: 42px 5px;							mer padding -----
}

*/




