.container {
    width: 90%;
    padding-top: 50px;
}
.parent-div :first-child {
    margin-right: 5%;
}
 .parent-div .image-div img {
     width: 30rem;
     height: auto;
     border-radius: 10px;
} 
.parent-div {
    justify-content: center;
    display: flex
}
.container .parent-div :last-child h3{
    font-weight: bold;
    letter-spacing: -1px;
}
.container .parent-div {
    margin-bottom: 30px;
}

@media only screen and (max-width: 1250px) and (min-width: 1025px) {
    .parent-div :first-child {
        margin-right: 10px;
    }
    .parent-div .image-div img {
        width: 25rem
    }
}
@media only screen and (max-width: 1024px) {
    .parent-div :first-child {
        margin-right: 10px;
    }
    .parent-div .image-div img {
        width: 20rem
    }
    .container .news-div h3 {
        margin: 0; padding: 0
    }
}
@media only screen and (max-width: 750px) {
    .parent-div {
        flex-direction: column
    }
    .parent-div :first-child {
        margin-right: 0;
    }
    .parent-div .image-div {
        text-align: center;
    }
    .parent-div .image-div img {
        width: 100%;
        margin: 0; padding: 0
    }
    .container .news-div h3 {
        margin: 0; padding: 0
    }
}

/* För mobila enheter */
@media only screen and (max-width: 415px) {
    .container {
        width: 100%;
        padding: 20px;
    }
    .parent-div {
        flex-direction: column;
    }
    .parent-div .image-div {
        text-align: center;
        padding: 0; margin: 0
    }
    .parent-div .image-div img {
        width: 100%;
        padding: 0; margin: 0
    }
    .parent-div :last-child h3 {
        margin-top: 15px;
        text-align: center;
    }
}
