/* Puffar filmer */
body {
  background: #111;
  } 

.puff-article {
  margin-top: 0px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center; 
}

@media only screen and (min-width: 1440px) {
  .puff-article  {

  }
}

.puff-article h2 {
  color: white;
  font-size: 48px;
}


.puff-container {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(200px, 6fr));
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 25px;
}

.puff-front-container {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(200px, 6fr));
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 25px;
}




.puff-item p {
  color: white;
}

.card {
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}


.card a .card-img-top:hover{
opacity: 0.9;
}

.card-text {
 margin-top: -20px;
 color: black;
}


.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-text:last-child {
  margin-bottom: 0;
  color: #111;
}


.card-img-top {
  width: 100%;
  border-radius: 0.25rem;
}

/* Sortering filmer*/
.sortering p {
  display: inline-block;
  color: #fff;

}

.sortering {
  display: inline-block;
  padding: 10px;
}

.sortering select {
  width:125px;padding:8px 12px;margin:8px 0 0;border:2px solid #78788c; border-radius: 10px;background:1;color:#5a5a6e;}
.sortering input {padding:8px 12px;margin:8px 0 0;border:2px solid #78788c;background:1;color:#5a5a6e;}
.sortering input:hover{background:#78788c;color:#fff}
.sortering select:focus {
outline: 0;
}