
.snacksBox {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	grid-gap: 20px;
	
}

.snacksOfferBox{
	text-align: center;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 20px;
	margin-right: 20px;
}
.snacksOfferBox a img {
	max-width: 250px;
	background-size: cover;
	border-radius: 5px;
}
.snacksBox a img {
	max-width: 150px;
	background-size: cover;
	border-radius: 5px;
}
.snacksCard {
	width: 150px;
	margin: 0 20px;
	box-sizing: border-box;
}
.snacksCard h2 {
	font-size: 1.2em;
}
.price {
	font-size: 0.8em;
}