.logo {
  margin-left: 20px;
  margin-right: 80px;
}


/* Carousel */
.homeCarousel {
  margin-top: 15px;
  margin-bottom: 50px;
}

.carousel-article-triple {
  margin: 25px, 50px, 25px, 50px;
}

@media only screen and (max-width: 768px) {
  .carousel-article-triple {
    display: none;
  }}

  .carousel-article-single {
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 25px;
  }

  

  @media only screen and (min-width: 768px) {
  .carousel-article-single {
    display: none;
  }}

.carousel-control-prev {
  left: -90px;
}

.carousel-control-next {
  right: -90px;
}

@media only screen and (max-width: 768px) {
.carousel-control-prev {
  left: -40px;
}
.carousel-control-next {
  right: -40px;
}  }

.carousel-indicators {
bottom: -25px;
}

/* Puffar filmer */
.puff-article {
  margin-top: 0px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center; 
}

@media only screen and (min-width: 1299px) {
  .puff-article {
    margin-left: 150px;
    margin-right: 150px;
  }
}
.puff-article h2 {
  color: white;
  font-size: 48px;
}

@media only screen and (max-width: 768px) {
  .puff-article h2 {
    font-size: 36px;
  }}

.puff-container {
  display: grid;
  justify-content: center;
 /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) );*/
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
}
@media only screen and (max-width: 899px) {
  .puff-container {
    display: grid;
    }}

@media only screen and (min-width: 899px) {
  .puff-container {
    grid-template-columns: 175px 175px 175px 175px 175px;
    }}

@media only screen and (min-width: 991px) {
  .puff-container {
     grid-template-columns: 200px 200px 200px 200px 200px;
    }}

.puff-item {
  padding-left: 7px;
  padding-right: 7px;
  margin-top: 10px;
  margin-bottom: 35px;
}

.puff-item p {
  color: white;
}


/* Snacks*/

.puff-container-snacks {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
}

@media only screen and (min-width: 899px) {
  .puff-container-snacks {
    grid-template-columns: 175px 175px 175px 175px;
    }}

@media only screen and (min-width: 991px) {
  .puff-container-snacks {
     grid-template-columns: 200px 200px 200px 200px;
    }}

.card {
  background: black;
}

.card a .card-img-top:hover{
opacity: 0.9;
}

.card-text {
 margin-top: -20px;
}


/* Sortering filmer*/
.sortering p {
  display: inline-block;
  color: #fff;
  text-shadow: 3px 3px 3px #aaa;
}

.sortering {
  display: inline-block;
  padding: 10px;
}

.sortering select {
  width:125px;padding:8px 12px;margin:8px 0 0;border:2px solid #78788c; border-radius: 10px;background:1;color:#5a5a6e;}
.sortering input {padding:8px 12px;margin:8px 0 0;border:2px solid #78788c;background:1;color:#5a5a6e;}
.sortering input:hover{background:#78788c;color:#fff}


/* Jobb formulär */
.form-jobb{
  display:grid;
  width:560px;
  height:1080px;
  background:#e6e6e6;
  border-radius:8px;
  box-shadow:0 0 40px -10px #000;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding:20px 30px;
  max-width:calc(100vw - 40px);
  box-sizing:border-box;
  position:relative;
  grid-template-columns: fit-content(auto-fit);
}

  #jobblista {
    height: 200px;
  }

.form-jobb h2{margin:10px 0;padding-bottom:10px;width:180px;color:#78788c;border-bottom:3px solid #78788c}
.form-jobb input{width:100%;padding:10px;box-sizing:border-box;background:none;outline:none;resize:none;border:0;font-family:'Montserrat',sans-serif;transition:all .3s;border-bottom:2px solid #bebed2}
.form-jobb input:focus{border-bottom:2px solid #78788c}
.form-jobb p:before{content:attr(type);display:block;margin:28px 0 0;font-size:14px;color:#5a5a5a}
.form-jobb button{float:right;padding:8px 12px;margin:8px 0 0;border:2px solid #78788c;background:0;color:#5a5a6e;cursor:pointer;transition:all .3s}
.form-jobb button:hover{background:#78788c;color:#fff}
.form-jobb input[type="file"] {padding:8px 12px;margin:8px 0 0;border:2px dashed #78788c;background:0;color:#5a5a6e;}
.form-jobb select{width:250px;padding:8px 12px;margin:8px 0 0;border:2px solid #78788c; border-radius: 10px;background:0;color:#5a5a6e;}

.form-jobb a:link {
  color: #5a5a5a
}

.form-jobb a:visited {
  color: #a5a5a5;
}

.form-jobb a:hover {
  text-decoration: none;
  color: black;
  text-shadow: 3px 3px 3px #fff;

}

.form-jobb li {
  list-style: none;
  margin-left: -35px;
}
